.about {
    padding: 5rem;
    display: flex;
    gap: 5rem;
}

.about_image {
    width: 31.25rem;
    height: 25rem;
}

.about_image img {
    width: 100%;
    object-fit: cover;
}

.about_content {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.about_content h2 {
    font-size: 2.25rem;
    font-weight: 800;
    color: #1F2937;
}

.about_content  p {
    font-size: 1.125rem;
    color: #6B7280;
}

.about_stats {
    display: flex;
    gap: 3rem;
}