.what-float {
    width: 4rem;
    aspect-ratio: 1/1;
    border-radius: 50%;
    background-color: #25D366;
    box-shadow: 0px 6px 24px #000;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    right: 1rem;
    transition: .6s ease-in-out;
    z-index: 4;
}

.what-float:Hover {
    scale: 1.04;
}

.what-float svg {
    font-size: 2rem;
    color: #fff;
}